.DS_Store
Char-Costume-Avatar/Thumbs.db
Char-Costume/Thumbs.db
Char-Talent/Thumbs.db
GachaHistory-Char/Thumbs.db
GachaHistory-Weapon/Thumbs.db
Char-Namecard/Thumbs.db
Item/Thumbs.db
.DS_Store
Monster/Thumbs.db
Relic/Thumbs.db
Web/Thumbs.db
.DS_Store
